# - Домашнее задание «Библиотека Pandas» -

## Задание 1

In [1]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
list_ = [] #список для внесения количества оценок 5.0 и индентификатора фильма
for movie_id in ratings['movieId'].unique():
    num5 = len(ratings[(ratings.movieId == movie_id) & (ratings.rating == 5.0)])
    list_.append( (num5, movie_id) )
    
print(f'Фильму с id = {max(list_)[1]} было выставлено больше всего оценок 5.0 в количестве {max(list_)[0]}')

Фильму с id = 318 было выставлено больше всего оценок 5.0 в количестве 153

In [19]:
movies = pd.read_csv('ml-latest-small/movies.csv')
movies.head()

print("Название фильма:")
movies[movies.movieId == max(list_)[1]]['title']

Название фильма:

277    Shawshank Redemption, The (1994)
Name: title, dtype: object

## Задание 2

In [9]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [10]:
def baltic(country):
    
    if country in ['Lithuania', 'Latvia', 'Estonia']:
        return 'Прибалтика'
    
    return 'Other'

data['baltic'] = data.country.apply(baltic)
data.baltic.value_counts()

Other         1162176
Прибалтика      27306
Name: baltic, dtype: int64

In [11]:
data[data.baltic == 'Прибалтика']

           country  year  quantity  category      baltic
373      Lithuania  2014      39.0         1  Прибалтика
374      Lithuania  2013     192.0         1  Прибалтика
375      Lithuania  2012     196.0         1  Прибалтика
376      Lithuania  2011     171.0         1  Прибалтика
377      Lithuania  2010     158.0         1  Прибалтика
...            ...   ...       ...       ...         ...
1188862  Lithuania  2003       0.0        71  Прибалтика
1188863  Lithuania  2002       0.0        71  Прибалтика
1188864  Lithuania  2001       0.0        71  Прибалтика
1188865  Lithuania  2000       0.0        71  Прибалтика
1188866  Lithuania  1999       0.0        71  Прибалтика

[27306 rows x 5 columns]

In [17]:
'''
Cуммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
категорий 4, 12 и 21 за период с 2005 по 2010 года

'''
data[(
    (data.baltic == 'Прибалтика') & 
    ( 
    (data.category == 4) | 
    (data.category == 12) | 
    (data.category == 21)  
    ) &
    (data.quantity >= 0) & 
    (2005 <= data.year ) & 
    (data.year <= 2010)
    )]['quantity'].sum()

240580.0

## Задание 3

In [13]:
URL = 'https://fortrader.org/quotes'
pd.read_html(URL, flavor='html5lib', encoding='utf-8')[3]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,ВТБ Акции ВТБ,0.038025,+0.000110,0.290123,NaN
1,Газпром Акции газпрома,224.53,+0.88,0.390000,NaN
2,Лукойл Акции Лукойл,6 172.0,+9.5,0.200000,NaN
3,Роснефть Акции Роснефти,573.20,+5.15,0.910000,NaN
4,Сбербанк Акции Сбербанка,286.47,+0.68,0.240000,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,34.175,-0.065,-0.190000,NaN
6,Норникель Акции Норникель,21 180,-146,-1.000000,NaN
7,Аэрофлот Акции Аерофлота,66.12,+0.22,0.330000,NaN
8,Северсталь Акции Северсталь,1 395.40,-2.20,-0.160000,NaN
9,Транснефть Акции Транснефть,147 350,-1 150,-1.000000,NaN
10,Ростелеком Курс акций ростелекома,107.51,+0.38,0.350000,NaN
11,РУСАЛ Акции РУСАЛ (RUAL),43.395,-1.845,-4.078000,NaN
12,Детский мир iDreamSky Technology Limited,137.50,-0.30,-0.220000,NaN
13,Петропавловск Акции Петропавловск,24.05,-0.55,-2.240000,NaN
14,Алроса Акции АЛРОСА (ALRS),106.840,+1.060,1.002000,NaN
15,Магнит Акции Магнит (MGNT),5 293.0,-61.5,-1.100000,NaN
16,НМЛК Акции НЛМК (NLMK),217.780,+2.280,1.058000,NaN
17,М.видео Акции М.видео (MVID),717.40,-2.70,-0.370000,NaN
18,"Газпром нефть Акции ""Газпром нефть"" (SIBN)",366.30,-3.35,-0.910000,NaN
19,НМТП Акции НМТП (NMTP),7.7550,-0.0350,-0.449300,NaN
20,Полиметалл Акции Полиметалл (POLY),1 495.00,-16.10,-1.070000,NaN
21,Полюс Золото Акции Полюс Золото (PLZL),13 886.5,-118.5,-0.800000,NaN
22,НОВАТЭК Акции НОВАТЭК (NVTK),1 493.80,-7.20,-0.480000,NaN
23,РусГидро Акции РусГидро (HYDR),0.8099,+0.0022,0.272400,NaN
24,Татнефть Акции Татнефть (TATN),595.00,-10.10,-1.670000,NaN
25,"АФК Система Акции АФК ""Система"" (AFKS)",34.020,-0.251,-0.732000,NaN
26,МТС Акции МТС,313.70,-1.50,-0.480000,NaN
27,Башнефть Акции Башнефть (BANE),1 595.5,-18.0,-1.100000,NaN
28,Яндекс Акции Яндекс (YNDX),4 694.2,-188.2,-3.900000,NaN
29,X5 Retail Group Акции X5 Retail Group (FIVE),2 390.00,-44.00,-1.810000,NaN
30,ФСК ЕЭС Акции ФСК ЕЭС (FEES),0.21430,-0.00100,-0.464470,NaN
31,Мечел Акции Мечел (MTLR),63.34,+0.42,0.670000,NaN
32,МосБиржа Акции МосБиржа (MOEX),167.89,-0.10,-0.060000,NaN
33,Интер РАО Акции Интер РАО (IRAO),5.03,-0.03,-0.660000,NaN
34,"Mail.ru Акции Mail.ru (MAIL, ДР)",1 712.40,-28.80,-1.650000,NaN
35,Киви Акции Киви (QIWI),773.0,-15.5,-2.000000,NaN
36,"Лента Акции Лента (LNTA, ДР)",243.90,-4.00,-1.610000,NaN
37,"Тинькофф Акции Тинькофф (TCSG, др)",4 319.40,-5.60,-0.130000,NaN
38,Озон Акции Озон (Ozon),3 866.00,-181.00,-4.470000,NaN